@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme{
  --color-kombigreen-500: rgb(93, 184, 93);
  --color-kombigreen-700: rgb(38, 63, 38);
  --color-kombigreen-100: rgb(93, 184, 93,0.295);
  --color-kombiblue-500:rgb(54, 97, 192);
  --color-kombiblue-100:rgba(54, 98, 192, 0.150);
  --color-kombiyellow-500:rgb(219, 206, 14);
  --color-kombiyellow-100:rgb(219, 206, 14,0.295);
}
body{
  transition: all 0.255s linear;
  
  @apply text-slate-900 dark:text-gray-200 bg-gradient-to-r from-kombiblue-100 from-10%  via-white via-30% to-kombiyellow-100 dark:from-slate-900 dark:from-100%
}